.seven-cols .col-md-1,
.seven-cols .col-sm-1,
.seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
    flex: none !important;
}

@media (min-width: 768px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
        max-width: 14.285714285714285714285714285714% !important;
        flex: none !important;
    }
}

@media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
        max-width: 14.285714285714285714285714285714% !important;
        flex: none !important;
    }
}

.row {
    margin: 0;
}

#calendy {
    width: 98%;
    margin: auto;
}

.cell {
    border: 1px solid black;
}

.header {
    background: rgb(200, 200, 200);
    width: 98%;
    position: fixed;
    z-index: 10;
}

.day-number {
    padding-left: 10px;
}

.days .cell {
    height: 12em;
}

.today {
    border: 5px solid rgb(255, 0, 0);
}

.hidden {
    border: 1px solid rgb(255, 0, 0);
}


/* Flags */

.flag {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.flag-sweden {
    background-image: url('img/Flag_of_Sweden.svg');
}

.flag-austria {
    background-image: url('img/Flag_of_Austria.svg');
}

.flag-poland {
    background-image: url('img/Flag_of_Poland.svg');
}

.flag-egypt {
    background-image: url('img/Flag_of_Egypt.svg');
}

.flag-croatia {
    background-image: url('img/Flag_of_Croatia.svg');
}

.doodles {
    position: absolute;
    bottom: 0.2em;
    right: 0;
    letter-spacing: 0.2em;
    font-size: 3em;
    font-family: emoji;
}

.doodle {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 64px;
    height: 64px;
    margin: 10px;
}

.doodle-sweden {
    background-image: url('img/Flag_of_Sweden.svg');
}

.doodle-airplane {
    width: 50px;
    height: 50px;
    background-image: url('img/airplane.png');
}

.doodle-dancing {
    background-image: url('img/dancing.png');
}

.doodle-pager {
    background-image: url('img/pager.png');
}

.doodle-ski {
    background-image: url('img/ski.png');
}

.doodle-table-games {
    background-image: url('img/table-games.png');
}

.doodle-easter {
    background-image: url('img/rabbit.png');
}

.doodle-holiday {
    background-image: url('img/holiday.png');
}

.doodle-kubernetes {
    background-image: url('img/kubernetes.png');
}