.flag-🇦🇹 {
   background-image: url('../img/flags/🇦🇹.png');
}
.flag-🇪🇬 {
   background-image: url('../img/flags/🇪🇬.png');
}
.flag-🇪🇸 {
   background-image: url('../img/flags/🇪🇸.png');
}
.flag-🇫🇷 {
   background-image: url('../img/flags/🇫🇷.png');
}
.flag-🇭🇷 {
   background-image: url('../img/flags/🇭🇷.png');
}
.flag-🇵🇱 {
   background-image: url('../img/flags/🇵🇱.png');
}
.flag-🇸🇪 {
   background-image: url('../img/flags/🇸🇪.png');
}
.flag-🇹🇷 {
   background-image: url('../img/flags/🇹🇷.png');
}
.flag-🇦🇹-🇦🇹:before {
   background-image: url('../img/flags/🇦🇹.png');
}
.flag-🇦🇹-🇦🇹:after {
   background-image: url('../img/flags/🇦🇹.png');
}
.flag-🇦🇹-🇪🇬:before {
   background-image: url('../img/flags/🇦🇹.png');
}
.flag-🇦🇹-🇪🇬:after {
   background-image: url('../img/flags/🇪🇬.png');
}
.flag-🇦🇹-🇪🇸:before {
   background-image: url('../img/flags/🇦🇹.png');
}
.flag-🇦🇹-🇪🇸:after {
   background-image: url('../img/flags/🇪🇸.png');
}
.flag-🇦🇹-🇫🇷:before {
   background-image: url('../img/flags/🇦🇹.png');
}
.flag-🇦🇹-🇫🇷:after {
   background-image: url('../img/flags/🇫🇷.png');
}
.flag-🇦🇹-🇭🇷:before {
   background-image: url('../img/flags/🇦🇹.png');
}
.flag-🇦🇹-🇭🇷:after {
   background-image: url('../img/flags/🇭🇷.png');
}
.flag-🇦🇹-🇵🇱:before {
   background-image: url('../img/flags/🇦🇹.png');
}
.flag-🇦🇹-🇵🇱:after {
   background-image: url('../img/flags/🇵🇱.png');
}
.flag-🇦🇹-🇸🇪:before {
   background-image: url('../img/flags/🇦🇹.png');
}
.flag-🇦🇹-🇸🇪:after {
   background-image: url('../img/flags/🇸🇪.png');
}
.flag-🇦🇹-🇹🇷:before {
   background-image: url('../img/flags/🇦🇹.png');
}
.flag-🇦🇹-🇹🇷:after {
   background-image: url('../img/flags/🇹🇷.png');
}
.flag-🇪🇬-🇦🇹:before {
   background-image: url('../img/flags/🇪🇬.png');
}
.flag-🇪🇬-🇦🇹:after {
   background-image: url('../img/flags/🇦🇹.png');
}
.flag-🇪🇬-🇪🇬:before {
   background-image: url('../img/flags/🇪🇬.png');
}
.flag-🇪🇬-🇪🇬:after {
   background-image: url('../img/flags/🇪🇬.png');
}
.flag-🇪🇬-🇪🇸:before {
   background-image: url('../img/flags/🇪🇬.png');
}
.flag-🇪🇬-🇪🇸:after {
   background-image: url('../img/flags/🇪🇸.png');
}
.flag-🇪🇬-🇫🇷:before {
   background-image: url('../img/flags/🇪🇬.png');
}
.flag-🇪🇬-🇫🇷:after {
   background-image: url('../img/flags/🇫🇷.png');
}
.flag-🇪🇬-🇭🇷:before {
   background-image: url('../img/flags/🇪🇬.png');
}
.flag-🇪🇬-🇭🇷:after {
   background-image: url('../img/flags/🇭🇷.png');
}
.flag-🇪🇬-🇵🇱:before {
   background-image: url('../img/flags/🇪🇬.png');
}
.flag-🇪🇬-🇵🇱:after {
   background-image: url('../img/flags/🇵🇱.png');
}
.flag-🇪🇬-🇸🇪:before {
   background-image: url('../img/flags/🇪🇬.png');
}
.flag-🇪🇬-🇸🇪:after {
   background-image: url('../img/flags/🇸🇪.png');
}
.flag-🇪🇬-🇹🇷:before {
   background-image: url('../img/flags/🇪🇬.png');
}
.flag-🇪🇬-🇹🇷:after {
   background-image: url('../img/flags/🇹🇷.png');
}
.flag-🇪🇸-🇦🇹:before {
   background-image: url('../img/flags/🇪🇸.png');
}
.flag-🇪🇸-🇦🇹:after {
   background-image: url('../img/flags/🇦🇹.png');
}
.flag-🇪🇸-🇪🇬:before {
   background-image: url('../img/flags/🇪🇸.png');
}
.flag-🇪🇸-🇪🇬:after {
   background-image: url('../img/flags/🇪🇬.png');
}
.flag-🇪🇸-🇪🇸:before {
   background-image: url('../img/flags/🇪🇸.png');
}
.flag-🇪🇸-🇪🇸:after {
   background-image: url('../img/flags/🇪🇸.png');
}
.flag-🇪🇸-🇫🇷:before {
   background-image: url('../img/flags/🇪🇸.png');
}
.flag-🇪🇸-🇫🇷:after {
   background-image: url('../img/flags/🇫🇷.png');
}
.flag-🇪🇸-🇭🇷:before {
   background-image: url('../img/flags/🇪🇸.png');
}
.flag-🇪🇸-🇭🇷:after {
   background-image: url('../img/flags/🇭🇷.png');
}
.flag-🇪🇸-🇵🇱:before {
   background-image: url('../img/flags/🇪🇸.png');
}
.flag-🇪🇸-🇵🇱:after {
   background-image: url('../img/flags/🇵🇱.png');
}
.flag-🇪🇸-🇸🇪:before {
   background-image: url('../img/flags/🇪🇸.png');
}
.flag-🇪🇸-🇸🇪:after {
   background-image: url('../img/flags/🇸🇪.png');
}
.flag-🇪🇸-🇹🇷:before {
   background-image: url('../img/flags/🇪🇸.png');
}
.flag-🇪🇸-🇹🇷:after {
   background-image: url('../img/flags/🇹🇷.png');
}
.flag-🇫🇷-🇦🇹:before {
   background-image: url('../img/flags/🇫🇷.png');
}
.flag-🇫🇷-🇦🇹:after {
   background-image: url('../img/flags/🇦🇹.png');
}
.flag-🇫🇷-🇪🇬:before {
   background-image: url('../img/flags/🇫🇷.png');
}
.flag-🇫🇷-🇪🇬:after {
   background-image: url('../img/flags/🇪🇬.png');
}
.flag-🇫🇷-🇪🇸:before {
   background-image: url('../img/flags/🇫🇷.png');
}
.flag-🇫🇷-🇪🇸:after {
   background-image: url('../img/flags/🇪🇸.png');
}
.flag-🇫🇷-🇫🇷:before {
   background-image: url('../img/flags/🇫🇷.png');
}
.flag-🇫🇷-🇫🇷:after {
   background-image: url('../img/flags/🇫🇷.png');
}
.flag-🇫🇷-🇭🇷:before {
   background-image: url('../img/flags/🇫🇷.png');
}
.flag-🇫🇷-🇭🇷:after {
   background-image: url('../img/flags/🇭🇷.png');
}
.flag-🇫🇷-🇵🇱:before {
   background-image: url('../img/flags/🇫🇷.png');
}
.flag-🇫🇷-🇵🇱:after {
   background-image: url('../img/flags/🇵🇱.png');
}
.flag-🇫🇷-🇸🇪:before {
   background-image: url('../img/flags/🇫🇷.png');
}
.flag-🇫🇷-🇸🇪:after {
   background-image: url('../img/flags/🇸🇪.png');
}
.flag-🇫🇷-🇹🇷:before {
   background-image: url('../img/flags/🇫🇷.png');
}
.flag-🇫🇷-🇹🇷:after {
   background-image: url('../img/flags/🇹🇷.png');
}
.flag-🇭🇷-🇦🇹:before {
   background-image: url('../img/flags/🇭🇷.png');
}
.flag-🇭🇷-🇦🇹:after {
   background-image: url('../img/flags/🇦🇹.png');
}
.flag-🇭🇷-🇪🇬:before {
   background-image: url('../img/flags/🇭🇷.png');
}
.flag-🇭🇷-🇪🇬:after {
   background-image: url('../img/flags/🇪🇬.png');
}
.flag-🇭🇷-🇪🇸:before {
   background-image: url('../img/flags/🇭🇷.png');
}
.flag-🇭🇷-🇪🇸:after {
   background-image: url('../img/flags/🇪🇸.png');
}
.flag-🇭🇷-🇫🇷:before {
   background-image: url('../img/flags/🇭🇷.png');
}
.flag-🇭🇷-🇫🇷:after {
   background-image: url('../img/flags/🇫🇷.png');
}
.flag-🇭🇷-🇭🇷:before {
   background-image: url('../img/flags/🇭🇷.png');
}
.flag-🇭🇷-🇭🇷:after {
   background-image: url('../img/flags/🇭🇷.png');
}
.flag-🇭🇷-🇵🇱:before {
   background-image: url('../img/flags/🇭🇷.png');
}
.flag-🇭🇷-🇵🇱:after {
   background-image: url('../img/flags/🇵🇱.png');
}
.flag-🇭🇷-🇸🇪:before {
   background-image: url('../img/flags/🇭🇷.png');
}
.flag-🇭🇷-🇸🇪:after {
   background-image: url('../img/flags/🇸🇪.png');
}
.flag-🇭🇷-🇹🇷:before {
   background-image: url('../img/flags/🇭🇷.png');
}
.flag-🇭🇷-🇹🇷:after {
   background-image: url('../img/flags/🇹🇷.png');
}
.flag-🇵🇱-🇦🇹:before {
   background-image: url('../img/flags/🇵🇱.png');
}
.flag-🇵🇱-🇦🇹:after {
   background-image: url('../img/flags/🇦🇹.png');
}
.flag-🇵🇱-🇪🇬:before {
   background-image: url('../img/flags/🇵🇱.png');
}
.flag-🇵🇱-🇪🇬:after {
   background-image: url('../img/flags/🇪🇬.png');
}
.flag-🇵🇱-🇪🇸:before {
   background-image: url('../img/flags/🇵🇱.png');
}
.flag-🇵🇱-🇪🇸:after {
   background-image: url('../img/flags/🇪🇸.png');
}
.flag-🇵🇱-🇫🇷:before {
   background-image: url('../img/flags/🇵🇱.png');
}
.flag-🇵🇱-🇫🇷:after {
   background-image: url('../img/flags/🇫🇷.png');
}
.flag-🇵🇱-🇭🇷:before {
   background-image: url('../img/flags/🇵🇱.png');
}
.flag-🇵🇱-🇭🇷:after {
   background-image: url('../img/flags/🇭🇷.png');
}
.flag-🇵🇱-🇵🇱:before {
   background-image: url('../img/flags/🇵🇱.png');
}
.flag-🇵🇱-🇵🇱:after {
   background-image: url('../img/flags/🇵🇱.png');
}
.flag-🇵🇱-🇸🇪:before {
   background-image: url('../img/flags/🇵🇱.png');
}
.flag-🇵🇱-🇸🇪:after {
   background-image: url('../img/flags/🇸🇪.png');
}
.flag-🇵🇱-🇹🇷:before {
   background-image: url('../img/flags/🇵🇱.png');
}
.flag-🇵🇱-🇹🇷:after {
   background-image: url('../img/flags/🇹🇷.png');
}
.flag-🇸🇪-🇦🇹:before {
   background-image: url('../img/flags/🇸🇪.png');
}
.flag-🇸🇪-🇦🇹:after {
   background-image: url('../img/flags/🇦🇹.png');
}
.flag-🇸🇪-🇪🇬:before {
   background-image: url('../img/flags/🇸🇪.png');
}
.flag-🇸🇪-🇪🇬:after {
   background-image: url('../img/flags/🇪🇬.png');
}
.flag-🇸🇪-🇪🇸:before {
   background-image: url('../img/flags/🇸🇪.png');
}
.flag-🇸🇪-🇪🇸:after {
   background-image: url('../img/flags/🇪🇸.png');
}
.flag-🇸🇪-🇫🇷:before {
   background-image: url('../img/flags/🇸🇪.png');
}
.flag-🇸🇪-🇫🇷:after {
   background-image: url('../img/flags/🇫🇷.png');
}
.flag-🇸🇪-🇭🇷:before {
   background-image: url('../img/flags/🇸🇪.png');
}
.flag-🇸🇪-🇭🇷:after {
   background-image: url('../img/flags/🇭🇷.png');
}
.flag-🇸🇪-🇵🇱:before {
   background-image: url('../img/flags/🇸🇪.png');
}
.flag-🇸🇪-🇵🇱:after {
   background-image: url('../img/flags/🇵🇱.png');
}
.flag-🇸🇪-🇸🇪:before {
   background-image: url('../img/flags/🇸🇪.png');
}
.flag-🇸🇪-🇸🇪:after {
   background-image: url('../img/flags/🇸🇪.png');
}
.flag-🇸🇪-🇹🇷:before {
   background-image: url('../img/flags/🇸🇪.png');
}
.flag-🇸🇪-🇹🇷:after {
   background-image: url('../img/flags/🇹🇷.png');
}
.flag-🇹🇷-🇦🇹:before {
   background-image: url('../img/flags/🇹🇷.png');
}
.flag-🇹🇷-🇦🇹:after {
   background-image: url('../img/flags/🇦🇹.png');
}
.flag-🇹🇷-🇪🇬:before {
   background-image: url('../img/flags/🇹🇷.png');
}
.flag-🇹🇷-🇪🇬:after {
   background-image: url('../img/flags/🇪🇬.png');
}
.flag-🇹🇷-🇪🇸:before {
   background-image: url('../img/flags/🇹🇷.png');
}
.flag-🇹🇷-🇪🇸:after {
   background-image: url('../img/flags/🇪🇸.png');
}
.flag-🇹🇷-🇫🇷:before {
   background-image: url('../img/flags/🇹🇷.png');
}
.flag-🇹🇷-🇫🇷:after {
   background-image: url('../img/flags/🇫🇷.png');
}
.flag-🇹🇷-🇭🇷:before {
   background-image: url('../img/flags/🇹🇷.png');
}
.flag-🇹🇷-🇭🇷:after {
   background-image: url('../img/flags/🇭🇷.png');
}
.flag-🇹🇷-🇵🇱:before {
   background-image: url('../img/flags/🇹🇷.png');
}
.flag-🇹🇷-🇵🇱:after {
   background-image: url('../img/flags/🇵🇱.png');
}
.flag-🇹🇷-🇸🇪:before {
   background-image: url('../img/flags/🇹🇷.png');
}
.flag-🇹🇷-🇸🇪:after {
   background-image: url('../img/flags/🇸🇪.png');
}
.flag-🇹🇷-🇹🇷:before {
   background-image: url('../img/flags/🇹🇷.png');
}
.flag-🇹🇷-🇹🇷:after {
   background-image: url('../img/flags/🇹🇷.png');
}
