.seven-cols .col-md-1,
.seven-cols .col-sm-1,
.seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
    flex: none !important;
}

@media (min-width: 768px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
        max-width: 14.285714285714285714285714285714% !important;
        flex: none !important;
    }
}

@media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
        max-width: 14.285714285714285714285714285714% !important;
        flex: none !important;
    }
}

#calendy {
    width: 98%;
    margin: auto;
}

.row {
    margin: 0;
}

.days .cell {
    height: 12em;
    border: 10px solid white;
    outline: 3px solid rgb(95, 95, 95);

}

.days .unfocused{
    opacity: 0.25;
}

.flag {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.flag-merge:before,
.flag-merge:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.flag-merge:before {
    left: 0;
    right: 70%;
    border-right: 3px dashed white;
}

.flag-merge:after {
    left: 30%;
    right: 0;
}

.day-number {
    border-radius: 20px;
    padding: 0 10px;
    display: inline;
}

.odd-month-date {
    outline: 3px solid #17a2b8 !important;

}
.odd-month-date .day-number {
    background-color: rgba(255, 255, 255, 0.8);
}
.even-month-date .day-number {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.today {
    border: 10px solid rgba(255, 0, 0, 0.6) !important;
    outline: 3px solid rgb(95, 95, 95);
}

.header {
    background: rgb(200, 200, 200);
    width: 98%;
    position: fixed;
    z-index: 10;
}


.hidden {
    border: 1px solid rgb(255, 0, 0);
}


.doodles {
    position: absolute;
    bottom: 0.2em;
    right: 0;
    float: right;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 0 10px;
}

.even-month-date .doodles {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}
.doodle {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 2rem;
}
